.container {
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
	border-radius: 12px;
	/* background: linear-gradient(135deg, #6d8fdd, #f1f1f1); */
	background: linear-gradient(135deg, #1c202a72, #f1f1f1);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Arial', sans-serif;
	text-shadow: 2px 2px 5px gray;
}

.input {
	cursor: pointer;
	width: calc(100% - 120px);
	padding: 12px;
	margin-right: 10px;
	border-radius: 8px;
	border: none;
	outline: none;
	font-size: 16px;
	margin-bottom: 20px;
}

.input::placeholder {
	color: #aaa;
	opacity: 0.7;
	font-size: 20px;
}

.fs {
	display: flex;
	margin-bottom: 10px;
}

.btnClear {
	border: 2px solid transparent;
	background-color: transparent;
	border-radius: 8px;
	cursor: pointer;
}

.btnClear:hover {
	border-radius: 8px;
	border: 2px solid rgb(0, 0, 0);
	opacity: 0.9;
}

.btnFilter {
	cursor: pointer;
	border: 2px solid transparent;
	background-color: transparent;
}

.btnBox {
	display: flex;

	justify-content: space-between;
}

.btnAdd {
	cursor: pointer;
	font-size: 20px;
	height: 48px;
	min-width: 100px;
	border-radius: 8px;
	background-color: #000000c2;
	color: whitesmoke;
	transition: all 0.2s ease-in-out;
}

.btnAdd:hover {
	background-color: #00b947;
}

.btnDelete {
	cursor: pointer;
	padding: 5px 10px 5px;
	border-radius: 8px;
	background-color: #000000c2;
	color: white;
	transition: all 0.2s ease-in-out;
}

.btnDelete:hover {
	cursor: pointer;
	padding: 5px 10px 5px;
	border-radius: 8px;
	background-color: #ff1900b7;
	color: white;
}

.todoList {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.todoList:hover {
	background-color: rgba(0, 0, 0, 0.109);
}

.todoList span {
	font-weight: 600;
	color: white;
	font-size: 22px;
	text-shadow: 2px 2px 5px rgba(65, 65, 65, 0.483);
}

.completed {
	text-decoration: line-through;
	color: #bbb;
}

.footer {
	text-align: center;
	margin-top: auto;
}

.active {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.265);
	border-radius: 8px;
	border: 2px solid rgb(0, 0, 0);
}
